.swagger {
  padding: 100px 0;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
  }

  &-nav {
    display: flex;
    gap: 20px;
  }
}

.nav {
  &-prev {
    color: #163659;
    background-color: #fff;
    border: 2px solid #163659;
  }

  &-next {
    color: #fff;
    background-color: #163659;
    border: solid #163659;
  }

  .btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

.mySwiper {
  width: 100%;
  .swiper-slide:first-child {
    margin-left: 100px;
  }
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 15% !important;
    height: 315px !important;
    transition: all 0.4s ease;

    .slider-img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }
  }

  .swiper-slide-active {
    width: 33% !important;
    height: 528px !important;
    margin-bottom: 20px;
    .slider-img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    .slider-title {
      font-size: 22px;
    }
  }
}

