

.form-container{
    border: 2px solid #163659;
    border-radius: 20px;
    padding: 45px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    // margin: 0 30%;
    color: #163659;

    h2{
        font-size: 45px;
        font-weight: 750;
    }

    h4{
        font-size: 20px;
        margin: 10px 0;
        font-weight: 500;
    }

    .checkbox{
        display: flex;
        gap: 35px;
        color: rgba(0, 0, 0, 0.611);
        
    }

    .error-text{
        color: rgba(255, 0, 0, 0.797);
    }

    .form-group{
        margin: 10px 0;
        width: 100%;
        .main-input{
            outline: none;
            border: none;
            border-bottom: 1px solid black;
            width: 100%;
            // margin-right: 270px;
            height: 20px;
            font-size: 18px;

            input{
                width: 100%;
            }
        }
        .main-input[type="number"]::-webkit-inner-spin-button{
            -webkit-appearance: none;
        }
        .main-input::placeholder {
            font-size: 17px;
            color: #00000099;
        }
        .checkbox-form{
            transform: scale(2);
        }
    }

    .btn-form{
        padding: 3% 30%;
        font-size: 24px;
        font-weight: 400;
        background-color: #163659;
        border: none;
        border-radius: 10px;
        margin: 20px;
        color: white;
        cursor: pointer;
        transition: .3s all;
        border: #163659 2px solid;

    }
    .btn-form:hover{
        background-color: white;
        color: black;
    }
}

@media screen and (max-width: 1200px) {
    .form-container{
        margin: 0 15%;
    }
}
@media screen and (max-width: 900px) {
    .form-container{
        margin: 0 10%;
    }
    .checkbox{
        justify-content: center;
    }

    .form-container{
        margin: 0 4%;
        h2{
            font-size: 35px;
        }
        .btn-form{
            font-size: 20px;
        }
    }
}
// @media screen and (max-width: 570px) {
//     .form-container{
//         margin: 0 4%;
//         h2{
//             font-size: 35px;
//         }
//         .btn-form{
//             font-size: 20px;
//         }
//     }
// }
@media screen and (max-width: 570px) {
    .form-container{
            margin: 0 2%;
        h2{
            font-size: 22px;
            font-weight: 850;
        }
        h4{
            font-size: 12px;
        }
        .btn-form{
            font-size: 15px;
        }
        .checkbox label{
            font-size: 12px;
        }
    }
}