.messenger {
  position: fixed;
  bottom: 20%;
  right: 5%;
  z-index: 1000;

  .iconsContainer {
    position: relative;
    width: 55px;
    height: 55px;

    &-btn {
      position: absolute; // все кнопки начинают с позиции open
      bottom: 0;
      right: 0;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }

      &-icon {
        font-size: 28px;
        color: #fff;
        z-index: 1;
      }
    }

    .telegram {
      background: #1b89ff;
    }

    .whatsApp {
      background: #25d366;
    }

    .open {
      background: #163658;
      position: relative; // чтобы ripple был только на этой кнопке
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: rgba(0, 200, 255, 0.4);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        animation: ripple 2s infinite;
        z-index: 0;
      }
    }
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.7;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.3;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
