.services-widget {

  &-description {
    font-weight: 400;
    font-size: 36px;
    color: #000;
    margin-left: 50%;
    width: 50%;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) {
  .services-widget {
    &-description {
      font-size: 18px;
    }
  }
}

@media (max-width: 768px) {
  .services-widget {
    &-description {
      margin-left: 40%;
      width: 58%;
    }
  }
}

@media (max-width: 576px) {
  .services-widget {
    &-description {
      margin-left: 0%;
      width: 100%;
    }
  }
}
