.object__detail {
  margin: 100px auto;
  padding: 0 20px;

  .object {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 100px;
    gap: 20px;

    .object_img {
      width: 50%;

      &_main {
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 500px;
          object-fit: cover;
        }
      }

      &_others {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }
      }

      .date {
        display: flex;
        justify-content: space-between;
        color: #a2a09f;

        .view {
          display: flex;
          align-items: center;
          gap: 5px;
          margin-top: 30px;
        }
      }
    }

    .basic__information {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .agent {
        width: 370px;
        padding: 10px;
        border: 1px solid #163659;
        border-radius: 10px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 20px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &_text {
        h3 {
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 15px;
        }
        span {
          color: #a19d97;
          margin-right: 10px;
        }
      }
    }
  }

  /* Tablet */
  @media (max-width: 1024px) {
    .object {
      flex-direction: column;

      .object_img,
      .basic__information {
        width: 100%;
      }

      .object_img {
        &_main img {
          height: 400px;
        }
        &_others {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      .basic__information {
        .agent {
          width: 100%;
          flex-direction: row;
          justify-content: flex-start;
        }
      }
    }
  }

  /* Mobile */
  @media (max-width: 768px) {
    margin: 50px auto;

    .object {
      gap: 40px;

      .object_img {
        &_main img {
          height: 250px;
        }

        &_others {
          display: none;

          img {
            height: 120px;
          }
        }
      }

      .basic__information {
        .agent {
          flex-direction: column;
          text-align: center;
          margin-bottom: 15px;
          img {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
}
