.categories-navigate {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  margin-top: 200px;
  margin-bottom: 150px;

  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -4%;
    text-transform: uppercase;
    color: #323232;
    text-align: center;
  }

  &__content {
    width: 100%;
    @media (max-width: 728px) {
      display: none;
    }
  }

  &__item {
    transition: all 0.5s;
    padding: 45px 0 55px 0;
    border-bottom: 2px solid #00000066;
    border-top: 2px solid #00000066;
    cursor: pointer;
    @media (max-width: 1400px) {
      padding: 30px 0;
    }
    @media (max-width: 728px) {
      padding: 16px 0 55px 0;
    }

    &.active {
      padding: 0;
    }

    &:first-child {
      border-top: 4px solid #00000066;
    }
  }

  &__default-title {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -6%;
    text-transform: uppercase;
    color: #000000;
    text-align: center;

    @media (max-width: 1400px) {
      font-size: 36px;
    }
    @media (max-width: 728px) {
      height: 24px;
    }

    &--check {
      color: #ff5050;
    }
  }

  &__hover {
    background-color: #163659;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
    padding: 30px 31px;
    gap: 23px;
    pointer-events: none;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 60%;

      &:first-child,
      &:last-child {
        width: 40%;
      }

      &--center {
        flex-direction: column;
        gap: 24px;
      }

      &-title {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -5%;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;

        &--check {
          color: #ff5050;
        }
      }
    }

    &-link {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      font-size: 24px;
      text-decoration: underline;
      color: #ffffff;
    }

    &-img {
      border-radius: 8px;
      width: 50%;
      height: 240px;
      object-fit: cover;

      @media (max-width: 1400px) {
        height: 140px;
      }
      @media (max-width: 728px) {
        height: 70px;
      }
    }
  }

  @media (max-width: 1400px) {
    &__hover {
      &-item {
        &-title {
          font-size: 36px;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    margin-top: 120px;
    margin-bottom: 100px;

    &__title {
      font-size: 20px;
    }

    &__hover {
      padding: 20px;
      gap: 16px;

      &-item {
        width: 100% !important;
        justify-content: center;

        &--center {
          gap: 16px;
        }

        &-title {
          font-size: 18px;
        }
      }

      &-link {
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
