.articles-slider {
    padding: 40px;

  
    &__title {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
      color: #00246b;
      font-family: "Roboto Condensed" , sans-serif; 

      @media (max-width: 576px) {
        font-size: 26px;
        text-align: start;
        
      }
    }
  
    &__container {
      position: relative;

      @media (max-width: 768px) {
        margin-top: 80px;
        
      }
    }
  
    &__card {
      cursor: pointer;


     
    }
  
    &__video-wrapper {
      position: relative;
      border-radius: 8px;
      overflow: hidden;

      &__thumbnail{
        max-height: 100px;
      }
    }
  
    &__video {
      width: 100%;
      height: auto;
      display: block;
    }
  
    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 18px solid black;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
      }
    }
  
    &__caption {
      font-size: 16px;
      font-weight: bold;
      margin-top: 10px;
      text-align: left;
    }
  
    &__button {
      position: absolute;
      top: -60px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #000;
      background: #fff;
      cursor: pointer;
      transition: all 0.3s ease; 
  
      &.active {
        background: #163659;
        color: #fff;
        border-color: #163659;
      }
  
      &--prev {
        right: 60px;

        @media (max-width: 576px) {
          right: 85%;   
        }
      }
  
      &--next {
        right: 10px;
        z-index: 10;

        @media (max-width: 576px) {
            right: 0px;
          }
      }
    }
  
    &__modal {
      position: fixed;
      inset: 0;
      background: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
  
    &__modal-content {
      position: relative;
      background: #000;
      padding: 10px;
      border-radius: 8px;
    }
  
    &__modal-close {
      position: absolute;
      top: -40px;
      right: 0;
      background: none;
      border: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }
  
    &__video {
      max-width: 90vw;
      max-height: 80vh;
      min-height: 240px;
    }
  }
  