.tooltip-container {
  position: relative;
  display: inline-block;
  margin: 10px;

  .tooltip-button {
    padding: 24px 140px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 40px;
    border-radius: 60px;
    background-color: white;
    border: 2px solid #163658;
    transition: 0.3s all;
    color: #163658;
    cursor: pointer;

    &:hover {
      background-color: #163659;
      color: white;
    }
    &.tooltip-hover {
      background-color: #163659;
      color: white;
    }
  }

  .tooltip-info {
    width: 50%;
    text-align: start;
    position: absolute;
    transform: translateX(150%) translateY(-80%);
    padding: 10px 40px;
    background-color: white;
    color: #163659;
    border-radius: 20px;
    z-index: 100;
    border: 1px solid #163658;
    transition: 0.3s all;

    .main-text {
      font-size: 15px;
      cursor: default;
    }

    .disc-text {
      font-size: 13px;
      margin: 10px 0;
      cursor: default;
    }

    .link-text {
      font-size: 15px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
